
	{{techblog_name}}

	<button class="change-devoured btn btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Updated{{else}}Removed{{/if}}
	</button>

	<button class="delete-techblog btn btn-danger" data-id="{{this.id}}">X</button>

